.App {
  text-align: center;
}
body {
  color: #f2f2f2;
}

.header {
  box-shadow: 0 4px 20px rgba(76,85,114,.5);
}
.form-control {
  margin-top: 5%;
}
a {
  color: #fefefe;
  cursor: pointer;
  text-decoration: none;
}
.table-striped > tbody {
  border-radius: .8rem;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #3bb0f4;
  color: #f2f2f2;
}
thead {
  background-color: #f2ba52;
  color: #252D50;
}
tr:hover {
  opacity: .8;
}
.header {
  padding: 20px;
  margin: 0 auto;
  border-bottom: 3px solid #f2ba52;
  background-color: #252D50;
}
.text-center {
  padding: 20px;
  font-size: 2rem;
}
footer{
  width: 100%;
  height: 80px;
  margin-top: 10%;
  background-color: #252D50 ;
  color: #f2f2f2;
  box-shadow: 0 -4px 20px rgba(76,85,114,.5);
}
footer h6 {
  padding: 10px;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}
footer h6 a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 400;
}
footer h6 a:hover {
  border-bottom: 2px solid #f2ba52;
}